
body {
font-family: 'Montserrat', sans-serif;
background: #181719;
max-width: 1140px;
margin: auto;

}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    background-color: #181719;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

.btn {
    border: 2px solid rgb(255, 255, 255);
    color: aliceblue;
    background-color: #181719;
    padding: 5px 10px;
}

.d {
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}


.header-text {
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 10em;
    align-items: center;
    background-color: #181719;
}




.box-container {
    height: 150px;
    width: 300px;
    background-color: #181719;;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    margin-top: -60px;
    padding-bottom: 10px;
    position: relative;
    box-shadow: 2px 2px 10px rgb(8, 7, 7);
}


.img-text {
    display: flex;
    gap: 20px;
    align-items: center;
}

.img-1 {
    width: 50px;
    border-radius: 50px;
}



@media screen and (max-width: 576px) {
    
.nav, 
.header-text  {
    flex-direction: column;
}

.img1 {
    width: 100%;
}
.box-container {
    position: static;
    margin: 10px 50px;
}

.header-text {
    gap: 20px;
}
}